<mat-card  class="pwa-page">
	<app-local-menu [localMenu]="localMenu"></app-local-menu>
	<h3 id="domain-connect" query-selector>Соединение со сторонним доменом</h3>
	<p>Firebase hosting предоставляет возможность работы хостинга для обслуживания стороннего домена, принадлежащего разработчику, обеспечивая его SSL сертификатом и обслуживания его контента через собственную глобальную сеть доставки контента (CDN). Для этого необходимо совершить несколько шагов.</p>
	<h4 id="domain-set-up" query-selector>Настройка связи стороннего домена</h4>
	<p>Для начала, необходимо создать свой аккаунт и проект на Firebase hosting, и создать приложение (сайт) в этом проекте. </p>
	<ol>
		<li>На странице приложения, на закладке Hosting, в консоли проекта Firebase, запустить мастера соединение доменов
			<ul>
				<li>Если необходимо связать только один домен, нажав на кнопку <span class="dark-red">Подключить домен</span></li>
				<li>Если необходимо подключить несколько доменов, выбрать желаемый домен из выпадающего списка, и нажать <span class="dark-red">Подключить домен</span> (доступно для платных планов).</li>
			</ul>
		</li>
		<li>Всести имя нужного домена, намеченного для связи с Firebase Hosting. При желании, можно выбрать настройку перенапрвления всех запросов стороннего домена на иной определяемый домен.</li>
		<li>Нажать кнопку <span class="dark-red">Продолжить</span> для запуска процесса проверки. Затем, по необходимости, подтвердить владение доменом, следую инструкциям на экране.  </li>
		<li>Для завершения настройки связи со сторонним доменом, в большинстве случаев, используется режим <span class="dark-red">Быстрая настройка</span>. Однако, если у вас уже есть работающий сайт у другого провайдера, и необходима миграция без задержек, выберите режим <span class="dark-red">Расширенная настройка</span> из выпадающего списка выбора режима.
			<ul>
				<li>Quick Setup (быстрая настройка) - укажите динамические пространства имен типа <span class="dark-blue">A</span> вашего домена для Firebase hosting.</li>
				<li>Advanced Setup (расширенная настройка) - следуйте инструкциям на экране, либо обновив записи динамических пространст имен типа <span class="dark-blue">TXT</span> стороннего домена, либо выгрузить файлы в специальную область вашего работающего сайта. После завершения проверки можно указать пространства имен типа <span class="dark-blue">A</span> к Firebase hosting. </li>
			</ul>
		</li>
		<li>После того, как будут указаны пространства имен типа <span class="dark-blue">A</span> к Firebase hosting, в течении 24 часов Firebase обеспечит ваш сторонний домен <span class="dark-red">SSL</span> сертификатом.</li>
	</ol>
	<app-attention [backgroundColor]="'#bbdcff'" [starColor]="'#4799ce'">Примечание. Если DNS стороннего домена содержит записи типа <span class="dark-red" >A</span>  или записи типа <span class="dark-red">CNAME</span>, которые указывают на другого провайдера, Firebase не сможет обеспечить <span class="dark-red">SSL</span> сертификат. </app-attention>
	<h4 id="wait-ssl" query-selector>Ожидание предоставления SSL сертификата</h4>
	<p>После подтверждения принадлежности домена, предоставляется SSL сертификат и домен разворачивается через глобальную сеть доставки контента (CDN). Этот процесс занимает некоторое время. Ваш домен будет помещен в список Subject Alternative Names (SAN), который открыт для публичного просмотра. При движении процедуры предоставления сертификата, его можно увидеть как недействительный сертификат не включающий в себя имя вашего домена. Это нормальное поведение при процессе предоставления сертификата, и  измениться после завершения процедуры.  </p>
	<app-attention [backgroundColor]="'#bbdcff'" [starColor]="'#4799ce'">Примечание. Firebase Hosting автоматически воспроизводит SSL сертификаты при необходимости, для всех подключенных доменов. </app-attention>
</mat-card>
